@charset "UTF-8";

body{
    margin: 0px;
    background-color: #39B1F0;
}

header{
    background-image:linear-gradient(to bottom, #39B1F0, #57C4FF);
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.192);
}

#apresentacao{
    background-image: url('imagens/despina-galani-nDjCL1UqpGc-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    height: 500px;
    max-width: 650px;
    
}
#apresentacao>p{
    background-color: rgba(255, 255, 255, 0.863);
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 1.3em;
    text-indent: 10px;
    padding: 20px;
    margin: auto;
    width: fit-content;

}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

.texto{
    background-image: url("imagens/pexels-pixabay-37730.jpg");
    background-position: bottom center;
    text-align: center;
    padding: 10px;
}

#text1{
    background-color: rgba(255, 255, 255, 0.671);
    width: 400px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.438);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);

    color: rgb(0, 0, 0);
   
    
}
